@import "base/variables";

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: $black;
  background-color: $bg-color;
  overflow-x:hidden;

  padding: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

// blocks
@import "blocks/items";



